.btn--icon {
  color: #f6f6f9;
  border-radius: 0.5rem;
  background-color: #313644;

  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
}

.btnicon {
  display: flex;
  color: #f6f6f9;
  border-radius: 0.5rem;

  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
}
