:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

html {
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  letter-spacing: -0.025em;
  color: #fff;
}

.h1 {
  line-height: 1.2;
  letter-spacing: -0.025em;
  font-size: 4rem;
  font-weight: 700;
}